# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of the popular languages that Data Scientists use
- List of commonly used libraries used by Data Scientists
- List of Data Science Tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SAS
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. PyTourch
2. Keras
3. Seaborn
4. Pandas

| Data Science Tools |
| ------ | 
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integer 
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Claire